@use "base" as *

@mixin h($fontsize, $sharpm, $sharps)
  font-family: 'Times New Roman', Times, serif
  font-size: $fontsize
  margin: 1.5em 0 0.5em 0
  &::before
    content: $sharps
    opacity: 0.5
    text-align: right
    display: inline-block
    width: 0px
    margin-left: -$sharpm
    margin-right: $sharpm

h1
  @include h(28px, 22px, "# ")
h2
  @include h(22px, 30px, "## ")

p a, ul a, li a, body > a.home
    outline: none
    -webkit-tap-highlight-color: transparent
    color: $color-link
    text-decoration: none
    transition: background-color 100ms
    background-color: rgba($color-link, 0)
    display: inline-block
    padding: 0.25em 0.5em
    margin: -0.25em -0.5em
    &:active
      background-color: rgba($color-link, 0.1)

img.coverimg
  min-width: 50%
  max-width: 100%
  margin: 0 auto
  display: block

.tags
  margin-top: -0.7em

.footer
  color: $color-gray-text
  font-size: 14px
