@use "./fluent-font.css";

$color-link: #088da5;
$color-gray-text: #999;

body {
  background-color: #f9f9fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  line-height: 28px;
  padding: 2em;
  max-width: 1200px;
  margin: auto;
  text-align: justify;
}

p {
  margin: 1em 0;
  hyphens: auto;
}

hr {
  background-color: none;
  border: none;
  border-bottom: dashed 1px #aaa;
  margin: 0;
  padding: 0;
}

pre {
  display: block;
  font-family: monospace;
  background-color: white;
  padding: 0.5em 1em;
  margin: 1em 0;
  overflow-x: auto;
}

.tags {
  font-size: 16px;

  a.tag {
    background-color: #eee;
    color: #666;
    text-decoration: none;
    transition: background-color 100ms;
    outline: none;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      background-color: #d9d9d9;
    }
    &:active {
      background-color: #e0e0e0;
    }
    display: inline-block;
    margin: 0.1em 0.1em;
    padding: 0.1em 0.5em;
    border-radius: 4px;
  }
}

body > a.blogtitle {
  color: black;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 120%;
  font-style: italic;
  margin: 0.5em;
  padding: 1em;
  border-bottom: 1px dashed $color-gray-text;

  > img {
    width: 500px;
    max-width: 100%;
  }
  > span.note {
    font-size: 60%;
    color: $color-gray-text;
  }
}

.draftmode-warn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  line-height: 1.2;
  background-color: #db7500;
  color: #fff;
  text-align: center;
  font-weight: bold;
  z-index: 99;

  a {
    color: #fff;
    text-decoration: underline;
  }
}

body.draft-mode {
  margin-top: 60px;
}
