doctype html

-let lang = lang_obj ? lang_obj.id : "en"

html(lang=lang)
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    style(type="text/css")!= "\n" + css
    block head
  body
    -if (draft_mode)
      .draftmode-warn
        | DRAFT VERSION
        br
        | <a href="https://blog.maowtm.org">Go to public site</a>
    block title-link
      a.blogtitle(href="/")
        | <img src="/title.svg" alt="mw casual engineering">
    block body
