doctype html

-let lang = lang_obj ? lang_obj.id : "en"

html(lang=lang)
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    style(type="text/css")!= "\n" + css
    block head
  body(class=(draft_mode ? "draft-mode" : ""))
    -if (draft_mode)
      .draftmode-warn
        | This is the DRAFT branch of this blog. Articles already published will not appear here.
        br
        | <a href="https://blog.maowtm.org">Go to the main site</a>
    block title-link
      a.blogtitle(href="/")
        | <img src="/title.svg" alt="mw casual engineering">
    block body

    script(type="text/javascript",src="/layout.js")
