extends base
include utils.pug

block head
  title mw casual engineering

block title-link
  a.blogtitle
    | <img src="title.svg" alt="mw casual engineering">

block body
  +list_articles(ordered_articles, false)
