include utils.pug
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Articles with tag #{tag.name} - Mao's technical notes
    meta(name="keywords",content=tag.name)
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    style(type="text/css")!= "\n" + css
  body
    a.returntoindex(href="../index.html") ðŸ  see everything
    h1= tag.name
    -let pick_language = article => article.languages.find(x => x.id == "en") || article.languages[0];
    -let ordered_articles = tag.articles.slice().sort((a, b) => Math.sign(pick_language(b).time - pick_language(a).time));
    +list_articles(ordered_articles, pick_language, true)
