extends base
include utils.pug

block head
  title Articles with tag #{tag.name} - mw casual engineering
  meta(name="keywords",content=tag.name)

block body
  a.returntoindex(href="../index.html") « see everything
  h1= tag.name
  +list_articles(ordered_articles, true)
